.app__body {
  margin: 2rem 8rem;
}

.app__logo {
  margin-bottom: 2rem;
  cursor: pointer;
}

.app__job {
  font-weight: 600;
  font-size: 2rem;
}

.app__search {
  font-weight: 100;
  font-size: 2rem;
}
